@media (min-width: 1200px) {
    .container{
        max-width: 1220px;
        position: relative;
        left: 9px;
        /* height: 80vh;  */
    }
}
.page-heading {
    color: #666;
}
.matter-table {
    background-color: #fff;
    color:#002050;
}
.matter-table .table-title {
    font-family: Segoe UI !important;
    background-color: White !important;
    font-size: 24px !important;
    margin-bottom: 20px !important;
    color: #002050 !important;
    padding-left: 0px; 
    cursor: pointer;
}

.gridcell {
    padding: 0 28px 20px;
}

.gridcell .celltitle {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color:#002050 !important;

}

.gridcell .cellbody {
    
}


/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  } */

  .page-loading{
    height: 800px;
    text-align: center;
    background-color: #a6a6ff;
  }
  .load-text{
    color: #fff;
  }
  
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #7272ff;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }