<div class="container" id="containerDiv">
  <div *ngIf="submitted==false" class="page-heading">
    <p style="font-family: Segoe UI; padding-bottom:20px">
      <b>Matter Proposal</b><br />
      This form helps you to select segmented law firms<br />
      and submit matter request for specific work<br />
    </p>
    <form [formGroup]="matterForm" (ngSubmit)="createMatter()">
    <div class="matter-table">
      <div class="table-title" tabindex="0" title="Click to collapse or expand">
        Matter Information<img
          style="float: right;"
          alt="CollapseImage"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAArElEQVQ4T+3SoQoCQRAG4O8Qq8Vg8Q0Eq9kHEIOPaTFo9AnMms1azCIiC7dwHHe7J1wSN+6yHzP/TKHnU/Ts+R1wjRcOuYi6tBywXQmtsE+hOTBgWwxL5IlNCk2BEXtgiQGOGKXQNrCOncsK5zm0CWzDYnRJtA7msCxaBbtiSTSCIfATpuUAYma5tYvtX7HAu1rhBGNcckrtfYYb7uE+t4df2n/w68AaPvQ+lA+eJicValFKQwAAAABJRU5ErkJggg=="
        />
      </div>
      <div class="border-top my-3"></div>
      <div class="row">
        <div class="col">
          <div class="gridcell">
            <div class="celltitle">
              Requestor <span style="color:#a94442">*</span>
            </div>
            <div class="form-group">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="requestor"
                aria-label="requestor"
                aria-describedby="basic-addon2"
                value="Hang Wang"
                readonly
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-times" aria-hidden="true"></i
                ></span>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-search" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
          </div>
          <div class="gridcell">
            <div class="celltitle">
              Matter Name <span style="color:#a94442">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Matter Name"
                aria-label="MatterName"
                aria-describedby="basic-addon2"
                formControlName="title"
                #spy
              />
            </div>
            <!-- <br>TODO: remove this: {{spy.className}} -->
          </div>
          <div class="gridcell">
            <div class="celltitle">
              Start Date <span style="color:#a94442">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                formControlName="lfeStartDate"
                ngbDatepicker
                #d1="ngbDatepicker"
                [ngClass]="{'is-invalid': matterForm.hasError('mismatch')}"
              />
              <div class="input-group-append">
                <span class="input-group-text" (click)="d1.toggle()"
                  ><i class="icon-calendar fa fa-calendar"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="gridcell">
            <div class="celltitle">
              Description & Scope <span style="color:#a94442">*</span>
            </div>
            <textarea
              [ngClass]="{'is-invalid': matterForm.get('description').errors
                && matterForm.get('description').touched}"
              rows="4"
              cols="20"
              id="description"
              class="textarea form-control"
              spellcheck="false"
              formControlName="description"
            ></textarea>
            <div class="invalid-feedback" *ngIf=" matterForm.get('description').hasError('minlength')
            && matterForm.get('description').touched">Please input at least 10 characters</div>
            <div class="invalid-feedback" *ngIf=" matterForm.get('description').hasError('required')
            && matterForm.get('description').touched">Description is required</div>
          </div>
        </div>
        <div class="col">
          <div class="gridcell">
            <div class="celltitle">
              Responsible Professional <span style="color:#a94442">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Responsible Professional"
                aria-label="ResponsibleProfessional"
                aria-describedby="basic-addon2"
                value="Hang Wang"
                readonly
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-times" aria-hidden="true"></i
                ></span>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-search" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="gridcell">
            <div class="celltitle">
              Practice Group <span style="color:#a94442">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Practice Group"
                aria-label="PracticeGroup"
                aria-describedby="basic-addon2"
                value="AI&R, CSEO"
                readonly
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-times" aria-hidden="true"></i
                ></span>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-search" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="gridcell">
            <div class="celltitle">
              End Date <span style="color:#a94442">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                formControlName="lfeEndDate"
                ngbDatepicker
                #d2="ngbDatepicker"
                [ngClass]="{'is-invalid': matterForm.hasError('mismatch')}"
              />
              <div class="input-group-append">
                <span class="input-group-text" (click)="d2.toggle()"
                  ><i class="icon-calendar fa fa-calendar"></i
                ></span>
              </div>
              <div class="invalid-feedback" *ngIf="matterForm.hasError('mismatch')" >End date must be after start date!</div>
            </div>
          </div>
          <div class="gridcell">
            <div class="celltitle">
              Will the matter budget exceed $100K ?
              <span style="color:#a94442">*</span>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input class="mr-1" type="radio" value="no" formControlName="exceed100k"> No
              </label>
              <label class="radio-inline ml-3">
                <input class="mr-1" type="radio" value="yes" formControlName="exceed100k"> Yes
              </label>             
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="matter-table">
      <div class="table-title" tabindex="0" title="Click to collapse or expand">
        Firm Recommendation<img
          style="float: right;"
          alt="CollapseImage"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAArElEQVQ4T+3SoQoCQRAG4O8Qq8Vg8Q0Eq9kHEIOPaTFo9AnMms1azCIiC7dwHHe7J1wSN+6yHzP/TKHnU/Ts+R1wjRcOuYi6tBywXQmtsE+hOTBgWwxL5IlNCk2BEXtgiQGOGKXQNrCOncsK5zm0CWzDYnRJtA7msCxaBbtiSTSCIfATpuUAYma5tYvtX7HAu1rhBGNcckrtfYYb7uE+t4df2n/w68AaPvQ+lA+eJicValFKQwAAAABJRU5ErkJggg=="
        />
      </div>
      <div class="border-top my-3"></div>
      <div class="row">
        <div class="col">
          <div class="gridcell">
            <!-- <div class="celltitle">

            </div> -->
            <div class="form-group">
              <label for="firm_country" class="celltitle"
                >Firm Country<span style="color:#a94442">*</span></label
              >
              <select class="form-control" id="firm_country" formControlName="firmCountry" >
                <option *ngFor="let firmCountry of firmCountries" [value]="firmCountry">{{firmCountry}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="gridcell">
            <div class="celltitle">
              Work Area <span style="color:#a94442">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Practice Group"
                aria-label="PracticeGroup"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-search" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="gridcell">
            <div class="celltitle">
              Work Area Detail <span style="color:#a94442">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Practice Group"
                aria-label="PracticeGroup"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-search" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="gridcell">
            <div class="form-group">
              <label for="matter_tier" class="celltitle"
                >Matter Tier<span style="color:#a94442">*</span></label
              >
              <select class="form-control" id="matter_tier" formControlName="matterTier">
                <option *ngFor="let matterTier of matterTiers" [value]="matterTier">{{matterTier}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top my-3"></div>
      <!-- <input type="button" value="Next" id="InsertButton" class="submit-btn form-action-container-left btn btn-primary pull-right"> -->
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
  <p>Demo Only:  {{diagnostic}}</p>
  <p>Status: {{matterForm.status | json}}</p> 
  </div>
  <!-- <button type="button" class="btn btn-primary pull-right">Next</button> -->
  <div *ngIf="loading==true" class="loadingScreen">
    <!-- <div class="load-text">Matter Creation in Progress ...</div>
    <span class="loader"><span class="loader-inner"></span></span> -->
    <div class="center">
      <div class="spinnerBox">
      <span class="fa fa-spinner fa-spin fa-4x spinner" aria-hidden="true"></span>
      </div>
     </div>
  </div>
  <div *ngIf="loading==false && submitted==true" class="page-heading">
    <div class="alert alert-success" role="alert">
      Matter: <span style="color:red">{{matterid}} </span> has been created successfully!
    </div>
  </div>
</div>
